{% extends '::layout.html.twig' %}

{% block content %}


<h1>{{article.title}}</h1>
<p>{{article.content}}</p>
<p>Créé le {{article.createdAt|date('d/m/Y')}}</p>
<p>Modifié le {{article.updatedAt|date('d/m/Y')}}</p>
<p>Nombre de likes : {{article.likenumber}}</p>


{{ form_start(form_delete) }}
{{ form_widget(form_delete) }}
{{ form_end(form_delete) }}


{% endblock %}