{% extends '::layout.html.twig' %}

{% block content %}


<h1>{{title}}</h1>
<p>{{content}}</p>
<p>Créé le {{datecrea}}</p>
<p>Modifié le {{datemodif}}</p>
<p>Nombre de likes : {{like}}</p>


{% endblock %}